body {
 font-family: monospace;
 font-size: 1.1rem;
 background: hsl(216, 28%, 7%);
 color: hsl(225, 59%, 77%);
}

img {
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width: 40%;
 height: 20%;
}


.highlight {
 color: white;
 background-color: black;
 padding: 10px;
 width: 250px;
 text-align: center;
}